* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v55_9 {
  width: 100%;
  height: 10570px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v55_22 {
  width: 100%;
  height: 571px;
  background: rgba(224,0,42,1);
  opacity: 1;
  position: absolute;
  top: 846px;
  left: 66px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v55_74 {
  width: 100%;
  height: 433px;
  background: rgba(234,0,0,1);
  opacity: 1;
  position: absolute;
  top: 3985px;
  left: 66px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v55_82 {
  width: 100%;
  height: 100%;
  background: rgba(251,187,0,1);
  opacity: 1;
  position: absolute;
  top: 5952px;
  left: 66px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v55_96 {
  width: 100%;
  height: 100%;
  background: rgba(255,225,147,1);
  opacity: 1;
  position: absolute;
  top: 8450px;
  left: 66px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v55_76 {
  width: 100%;
  height: 100%;
  background: rgba(255,122,0,1);
  opacity: 1;
  position: absolute;
  top: 4478px;
  left: 66px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v55_10 {
  width: 100%;
  height: 588px;
  background: rgba(68,114,196,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v55_11 {
  width: 217px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 161px;
  left: 611px;
  font-family: Moebius Korea;
  font-weight: Bold;
  font-size: 80px;
  opacity: 1;
  text-align: left;
}
.v55_18 {
  width: 189px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 693px;
  left: 625px;
  font-family: Moebius Korea;
  font-weight: Bold;
  font-size: 80px;
  opacity: 1;
  text-align: left;
}
.v55_49 {
  width: 375px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1598px;
  left: 532px;
  font-family: Moebius Korea;
  font-weight: Bold;
  font-size: 80px;
  opacity: 1;
  text-align: left;
}
.v55_54 {
  width: 374px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2804px;
  left: 533px;
  font-family: Moebius Korea;
  font-weight: Bold;
  font-size: 80px;
  opacity: 1;
  text-align: left;
}
.v55_59 {
  width: 310px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3840px;
  left: 565px;
  font-family: Moebius Korea;
  font-weight: Bold;
  font-size: 80px;
  opacity: 1;
  text-align: left;
}
.v55_66 {
  width: 382px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 5815px;
  left: 529px;
  font-family: Moebius Korea;
  font-weight: Bold;
  font-size: 80px;
  opacity: 1;
  text-align: left;
}
.v55_68 {
  width: 382px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8283px;
  left: 529px;
  font-family: Moebius Korea;
  font-weight: Bold;
  font-size: 80px;
  opacity: 1;
  text-align: left;
}
.v55_70 {
  width: 506px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 10059px;
  left: 445px;
  font-family: Moebius Korea;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.v55_64 {
  width: 688px;
  color: rgba(45,45,45,1);
  position: absolute;
  top: 4124px;
  left: 102px;
  font-family: Moebius Korea;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v55_80 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 4609px;
  left: 102px;
  font-family: Moebius Korea;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v55_86 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 6094px;
  left: 102px;
  font-family: Moebius Korea;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v55_92 {
  width: 982px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 7288px;
  left: 157px;
  font-family: Moebius Korea;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v55_102 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8578px;
  left: 112px;
  font-family: Moebius Korea;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v55_106 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 9410px;
  left: 131px;
  font-family: Moebius Korea;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v55_110 {
  width: 891px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 9763px;
  left: 131px;
  font-family: Moebius Korea;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v55_98 {
  width: 259px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8498px;
  left: 109px;
  font-family: Moebius Korea;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v55_104 {
  width: 305px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 9299px;
  left: 109px;
  font-family: Moebius Korea;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v55_108 {
  width: 244px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 9683px;
  left: 109px;
  font-family: Moebius Korea;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v55_88 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 6623px;
  left: 137px;
  font-family: Moebius Korea;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v55_72 {
  width: 293px;
  color: url("../images/v55_72.png");
  position: absolute;
  top: 4043px;
  left: 102px;
  font-family: Moebius Korea;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v55_78 {
  width: 293px;
  color: url("../images/v55_78.png");
  position: absolute;
  top: 4528px;
  left: 103px;
  font-family: Moebius Korea;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v55_84 {
  width: 324px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 6022px;
  left: 102px;
  font-family: Moebius Korea;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v55_90 {
  width: 194px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 7216px;
  left: 137px;
  font-family: Moebius Korea;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v55_20 {
  width: 402px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 924px;
  left: 124px;
  font-family: Moebius Korea;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v55_37 {
  width: 164px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1035px;
  left: 124px;
  font-family: Moebius Korea;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v55_41 {
  width: 164px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1146px;
  left: 124px;
  font-family: Moebius Korea;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v55_45 {
  width: 55px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1257px;
  left: 124px;
  font-family: Moebius Korea;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v55_43 {
  width: 180px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1146px;
  left: 581px;
  font-family: Moebius Korea;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v55_47 {
  width: 708px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1257px;
  left: 581px;
  font-family: Moebius Korea;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v55_39 {
  width: 223px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1035px;
  left: 574px;
  font-family: Moebius Korea;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v55_35 {
  width: 431px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 924px;
  left: 574px;
  font-family: Moebius Korea;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v55_12 {
  width: 38px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 152px;
  left: 549px;
  font-family: Moebius Korea;
  font-weight: Bold;
  font-size: 96px;
  opacity: 1;
  text-align: left;
}
.v55_14 {
  width: 38px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 152px;
  left: 852px;
  font-family: Moebius Korea;
  font-weight: Bold;
  font-size: 96px;
  opacity: 1;
  text-align: left;
}
.v55_16 {
  width: 861px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 358px;
  left: 289px;
  font-family: Moebius Korea;
  font-weight: Bold;
  font-size: 50px;
  opacity: 1;
  text-align: left;
}
.v55_52 {
  width: 100%;
  height: 794px;
  background: url("../images/v55_52.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1751px;
  left: 226px;
  overflow: hidden;
}
